[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"e1839a8" = {path = ".", editable = true}

[packages]
pika = "*"
click = "*"
SQLAlchemy = ">=1.3.0"
psutil = "*"
netifaces = "*"
celery = "*"
multiprocessing-logging = "*"
flower = "*"

[requires]
python_version = "3.6"
