[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Testing
factory-boy = "~=3.3"
pytest = "~=8.0"
pytest-cov = "~=4.1"

# Lint and code style
black = "~=24.1"
flake8 = "~=7.0"
flake8-blind-except = "~=0.2.1"
flake8-debugger = "~=4.1.2"
flake8-docstrings = "~=1.7.0"
flake8-isort = "~=6.1"
isort = "~=5.13"
pep8-naming = "~=0.13"
pylint = "~=3.0"

# MyPy and stubs
mypy = "~=1.8"
sqlalchemy-stubs = "~=0.4.0"

[packages]
SQLAlchemy = "~=2.0"
passlib = "~=1.7.1"
click = "~=8.1"
fm-database = {file = ".", editable = true}
alembic = "~=1.13"
# for Postgresql
psycopg2 = "~=2.9.3"

[requires]
python_version = "3.12"
