[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Testing
factory-boy = "~=3.2.1"
pytest = "~=6.2.5"
pytest-cov = "*"

# Lint and code style
black = "~=21.10b0"
flake8 = "~=4.0.1"
flake8-blind-except = "~=0.2.0"
flake8-debugger = "~=4.0.0"
flake8-docstrings = "~=1.6.0"
flake8-isort = "~=4.1.1"
isort = "~=5.10.0"
pep8-naming = "~=0.12.1"
pylint = "~=2.11.1"

# MyPy and stubs
mypy = "~=0.910"
sqlalchemy-stubs = "~=0.4.0"

[packages]
SQLAlchemy = "~=1.4.26"
passlib = "~=1.7.1"
click = "~=8.0.3"
"e1839a8" = {path = ".", editable = true}
alembic = "~=1.7.4"
# for Postgresql
psycopg2 = "~=2.9.1"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true