[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# testing packages
factory-boy = "~=3.2.0"
pytest = "~=6.2.5"
pytest-cov = "~=3.0.0"

# Lint and code style
black = "~=21.11b1"
flake8 = "~=4.0.1"
flake8-blind-except = "~=0.2.0"
flake8-debugger = "~=4.0.0"
flake8-docstrings = "~=1.6.0"
flake8-isort = "~=4.1.1"
isort = "~=5.10.1"
mypy = "~=0.790"
pep8-naming = "~=0.12.1"
pylint = "~=2.12.2"

[packages]
# Flask
Flask = "~=2.0.2"
Flask-Cors = "~=3.0.10"

# API
flask-smorest = "~=0.35.0"
marshmallow-sqlalchemy = "~=0.26.0"
Flask-JWT-Extended = "~=4.3.1"

fm_database = {subdirectory = "database", editable = true, ref = "main", git = "https://github.com/nstoik/farm_monitor"}
# fm_database = {editable = true, path = "./../database"}

# self
e1839a8 = {path = ".",editable = true}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
