[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# testing packages
factory-boy = "~=3.2.0"
pytest = "~=7.1.2"
pytest-cov = "~=3.0.0"

# Lint and code style
black = "~=22.3"
flake8 = "~=4.0.1"
flake8-blind-except = "~=0.2.1"
flake8-debugger = "~=4.1.2"
flake8-docstrings = "~=1.6.0"
flake8-isort = "~=4.1.1"
isort = "~=5.10.1"
mypy = "~=0.961"
pep8-naming = "~=0.13.0"
pylint = "~=2.14.1"

[packages]
# Flask
Flask = "~=2.1.2"
Flask-Cors = "~=3.0.10"

# API
flask-smorest = "~=0.38.0"
marshmallow-sqlalchemy = "~=0.28.0"
Flask-JWT-Extended = "~=4.4.1"

# Production
gunicorn = "~=20.1.0"

fm_database = {subdirectory = "database", editable = true, ref = "main", git = "https://github.com/nstoik/farm_monitor"}
# fm_database = {editable = true, path = "./../database"}

# self
e1839a8 = {path = ".",editable = true}

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
